################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Epam Tests/.vs/Epam Tests/FileContentIndex
